// Sass Variables
// Colors
$black: #000;
$white: #fff;
$white-smoke: #f6f6f6;
$red: rgb(230, 0, 0);
$grey: #3d3d3d;
$dark-gray: #acacac;

// Body
$base-font-size: 13px !default;
$base-line-height: 1.4 !default;
$base-text-color: $black !default;
$base-font-family: 'PT Sans', sans-serif !default;
$base-background-color: $white-smoke !default;
$base-min-width: 320px;

// Grid
$content-max-width: 600px;
$side-space: 20px;

// Smartphone view
$mobile-width: 768px;

// Animation
$animation-speed: 0.5s;
$animation-func: ease;

//submit button 
$submit-btn-font-size: 16px;
$submit-btn-line-height: 18px;

//label 
$label-font-size: 16px;
$label-line-height: 18px;

